{% load staticfiles %}
<!DOCTYPE html>
<html>
<body>
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/navbar-static-top.css' %}" rel="stylesheet"/>
<link href="{% static 'css/custom.css' %}" rel="stylesheet"/>
</body>
</html>


  {% comment %} switch (data.events[i].category_id) {
        case '103':
            type = "Music";
            break;
        case '101':
            type = "Business & Professional";
            break;
        case '110':
            type = "Food & Drink";
            break;
        case '113':
            type = "Community & Culture";
            break;
        case '104':
            type = "Film, Media & Entertainment";
            break;
        case '105':
            type = "Performing & Visual Arts";
            break;
        case '108':
            type = "Sports & Fitness";
            break;
        case '107':
            type = "Health & Wellness";
            break;
        case '102':
            type = "Science & Technology";
            break;
        case '109':
            type = "Travel & Outdoor";
            break;
        case '111':
            type = "Charity & Causes";
            break;
        case '114':
            type = "Religion & Spirituality";
            break;
        case '115':
            type = "Family & Education";
            break;
        case '116':
            type = "Seasonal & Holiday";
            break;
        case '106':
            type = "Fashion & Beauty";
            break;
        case '117':
            type = "Home & Lifestyle";
            break;
        case '118':
            type = "Auto, Boat & Air";
            break;
         case '119':
            type = "Hobbies & Special Interests";
            break;
        case '199':
            type = "Other";
            break;
    }
        alert(type);{% endcomment %}



